<div class="progress_container navbar-default navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Progress:</h3>

        <div class="row">
          <div class="col-md-10">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{ width: getProgress() }" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: getProgress() }"></div>
            </div>
          </div>
          <div class="col-md-2 text-right">
            <button class="btn btn-warning" ng-click="clearProgress()">Clear progress</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="drow">
    <div class="col-md-12">
      <h1 class="page-header"><img src="http://www.airconsole.com/file/logo-40.png"> AirConsole Checklist</h1>
      <p>
        On AirConsole we try to provide high quality games. Before you submit your game you
        can use this checklist to make sure you have gone through every edge case.
      </p>
      <p>
        Some topics and their solutions are covered in our best practice guide.
        <br><br>
        <a href="http://developers.airconsole.com/#/guides/best_practices" target="_blank" class="btn btn-primary">Read best practice guide</a>
      </p>

      <p class="alert alert-info">
        Your progress will automatically be saved in this browser!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">General</h2>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.general track by $index">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.general[$index].checked" ng-change="updateProgress(q)">
            <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Screen</h2>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.screen">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.screen[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Controller</h2>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.ctrl">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.ctrl[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Screen browsers</h2>
      Your game works in all modern browsers.
      <ul>
        <li class="checkbox" ng-repeat="q in questions.ctx_screen">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.ctx_screen[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Controller browsers</h2>
      Your game works in the AirConsole App as well as in all modern mobile browsers.

      <p class="alert alert-info">
        If you are having trouble getting access to a specific operating system or browser, we recommend asking the AirConsole developer community on our <a href="discordapp.com/invite/5BzND3v">Discord server</a> for help.
      </p>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.ctx_mobile">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.ctx_mobile[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

 <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Monetization</h2>
      Your game is showing ad breaks and handles them correctly. Remember that you can call showAd as often as possible and AirConsole will limit the actual ad frequency.
      <p class="alert alert-info">
        See our <a href="https://developers.airconsole.com/#!/guides/ads_dev">monetization guide</a> for more information.
      </p>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.ads">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.ads[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Launch & Marketing</h2>
        You have taken or are taking the necessary steps to launch and promote your game.
      <ul>
        <li class="checkbox" ng-repeat="q in questions.launch">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.launch[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Android/Amazon/Huawei TV</h2>
      <p class="alert alert-info">
        See our <a href="/#!/guides/unity-androidtv">Android TV guide for Unity games</a>.
      </p>
      <ul>
        <li class="checkbox" ng-repeat="q in questions.tv">
          <label>
            <input type="checkbox" ng-checked="q.checked" ng-model="questions.tv[$index].checked" ng-change="updateProgress(q)"> <span ng-bind-html="q.text"></span>
          </label>
        </li>
      </ul>
    </div>

  <div class="drow">
    <div class="col-md-12">
      <p>
        <br>
        Once you have completed your launch checklist, please send all files as a ZIP file to developers@n-dream.com.
      </p>
    </div>
  </div>
</div>

</div>
