body {
  font-size: 18px;
  margin-top: 140px;
  padding-bottom: 80px;
}

.progress_container {
  background: #F6F6F6;
  padding: 20px;
}

.page-update-box {
  font-weight: bold;
  text-align: right;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 100;
  margin-bottom: 10px;
}